

.mt-05 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.fore-colour {
    color: #e9ecef;
}

.displayBlock {
    display: block;
}

.clickable {
    cursor: pointer;
}

table .narrow {
    width: 1%;
}

.small-text {
    font-size: 85%;
    font-weight: lighter;
}

.header-select {
    width: 250px;
}

.sub-table-header td {
    background-color: #070707;
    border-bottom: 2px solid #e9ecef
}


/* Bootstrap Extenstions -------------------------------------------------------------------------------------*/
.btn-xs, .btn-group-xs > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.3;
    border-radius: 0.1rem;
}

.nav-tabs {
    cursor: pointer;
    font-size: 0.95rem;
}

.nav-tabs .active {
    font-weight: bold;
}

.table .clearTopBorder {
    border-top: none;
}

.dropdown-item {
    cursor: pointer;
}

small.xs {
    font-size: 60%;
    font-weight: lighter;
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 950px;
    }
}

@media (min-width: 1230px) {
    .modal-xl {
        max-width: 1200px;
    }
}

.profileIcon > button {
    padding: 0;
    border-top-right-radius: 0.15rem !important;
    border-bottom-right-radius: 0.15rem !important;
}

.profileIcon img {
    border-radius: 0.15rem;
}

.profileIcon a {
    text-decoration: none !important;
}



/* ----------------------------------------------------------------------------------------------------------- */

/* Theme styling override, wasnt able to tweak this in Bootstrap Magic --------------------------------------- */
.btn-outline-light:hover {
    color: #202020;
    background-color: #e9ecef;
    border-color: #e9ecef; 
}

.input-group .form-control {
    z-index: 0;
}

.input-group-text {
    border: 0;
    border-radius: 2px;
}

.input-group-prepend {
    margin-right: -2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
/* ----------------------------------------------------------------------------------------------------------- */


/* Selecterize overrides ---------------------------------------------------------------------------------------*/
.Select-control {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #202020;
}


.Select-menu-outer {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-color: #e6e6e6;
    color: #202020;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
/* ----------------------------------------------------------------------------------------------------------- */



/* DayPicker Style Overrides -----------------------------------------------------------------------------------*/
.DayPickerInput input {
    cursor: pointer;
}

.DayPicker {
    color: #202020;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    color: #f0f8ff;
    background-color: #4a90e2;
    border-radius: 0;
}

.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: #f0f8ff;
    border-radius: 0;
}

.DayPicker-Day--today {
    color: #d0021b;
    font-weight: 700;
}

.DayPickerInput {
    display: block;
    width: 100%;
}

.DayPickerInput input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.15rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* ----------------------------------------------------------------------------------------------------------- */